body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header form {
    margin-top: 20px;
    display: flex; /* For å plassere elementene ved siden av hverandre */
    justify-content: center; /* For å sentrere elementene horisontalt */
}

header input[type="text"] {
    padding: 10px; /* Økt padding for å gjøre søkefeltet litt lengre */
    border: none;
    border-radius: 4px;
    margin-right: 5px;
    flex-grow: 2; /* For å utnytte all tilgjengelig plass */
    width: 300px; /* Endre bredden til ønsket størrelse */
}

header button {
    padding: 10px 15px; /* Justere padding for å matche søkefeltet */
    background-color: #008CBA; /* Endre fargen på søkeknappen */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

header button:hover {
    background-color: #005f79; /* Justere hover-fargen */
}
